<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filmothèque</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="movie-container">
    <div class="movie-info">
        <h2 th:text="${film.titre}"></h2>
        <p>Release Date: <span th:text="${film.annee}"></span></p>
        <!--        <p>Starring: <span th:text="${film.participant}"></span></p>-->
        <!--        <p>Genre: <span th:text="${film.genre}"></span></p>-->
        <p>Duration: <span th:text="${film.duree}"></span></p>
        <p>Synopsis: <span th:text="${film.synopsis}"></span></p>
    </div>
    <button onclick="history.back()">Retour</button>
</div>
</body>
<footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</footer>
</html>